.checkout-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 230px;
        margin-bottom: 60px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex: 1;
    gap: 20px;
    margin-right: 20px;
    max-width: calc(520px + 20px);
    /* Add margin to separate from customer details */
}

.product-box {
    max-width: 280px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: auto;
    background-color: hsl(0, 0%, 98%);
}

.product-box:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    /* Updated to maintain aspect ratio */
    object-fit: cover;
}

.product-details {
    padding: 10px;
}

.product-name {
    font-size: 1rem;
    margin-bottom: 5px;
}

.product-price {
    font-size: 0.9rem;
    color: #007bff;
    margin-bottom: 5px;
}

.product-description {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.product-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.product-button:hover {
    background-color: #0056b3;
}

.customer-details {
    flex: 1;
    margin-top: 20px;
    width: 100%;
    margin: 25px;
}

.customer-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.customer-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.customer-details button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customer-details button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .checkout-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .products-container {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin-right: 0;
    }

    .product-box {
        max-width: 100%;
        
    }
        .product-image {
            max-height: none;
        }
}


.product-delete-icon {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dark background color */
    border-top-left-radius: 5px;
    /* Adjust border radius as needed */
    color: #242424;
    /* White color for the X mark */
    cursor: pointer;
}

.product-delete-icon i {
    font-size: 18px;
    /* Adjust icon size as needed */
}

.empty-cart-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.empty-cart-message i {
    font-size: 48px;
    color: #ccc;
    margin-bottom: 10px;
}

.empty-cart-message p {
    font-size: 18px;
    color: #666;
}