.custom{
    margin: 100px auto;
}

.custom .box{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.custom img{
    height: 400px;
    width: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}

.custom img:hover{
    -o-transform: scale(1.1);
    transform: scale(1.1);

}


