:root{
        --gradient-start: #1e1e1e;
            /* Slightly darker */
            --gradient-middle: #1b1b1b;
            --gradient-end: #1a1a1a;
            /* Slightly darker */
}
footer {
    background-image: linear-gradient(to right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
    color: #fff;
        padding: 50px 0;

}

.footer-container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    /* Optional: Set a maximum width */
    margin: 0 auto;
    /* Center horizontally */
}

.footer-container div{
    margin: 10px 30px;
    
}

.footer-left,
.footer-center,
.footer-right {
    width: 30%;
    position: relative;
}

.footer-left h3,
.footer-center h3,
.footer-right h3 {
    font-size: 22px;
    margin-bottom: 15px;
}



.footer-center p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-right h3{
    margin-left: 35px;
    margin-bottom: 15px;
}

.footer-right .subscribe .up {
    width: 105%;
    margin: auto;
    margin-bottom: 25px;
    color: #dbdbdb;
}

.footer-right .subscribe  i{
    padding: 0px 5px;
}

.footer-right button{
    background-color: rgb(193, 193, 193);
    border:none;
    border-left: 1px solid black;
    padding: 10px 25px;
    border-radius: 2px;
        margin-bottom: 5px;
}

.footer-right input{
    background-color:transparent;
    border: none;
    border-bottom: 2px solid rgb(94, 94, 94);
        width: 100%;
    margin-bottom: 15px;
    text-indent: 2%;
    padding: 10px;
    color: white;
}

.footer-right input:focus{
    outline: none;
}



.subscribe {
    margin-top: 20px;
    /* Add margin for spacing */
}

.subscribe input:focus {
    border-bottom: 1px solid rgb(231, 231, 231);
    /* Change background color when input is focused */
}


.social-icons a {
    margin-left: 10px;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
}


@media (max-width: 980px) {

    .footer-left h3,
        .footer-center h3,
        .footer-right h3 {
            margin-bottom: 20px;
            position: relative;
        }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 70%;
        margin-bottom: 20px;
    }

                .footer-left,
                .footer-center
              {
                    width: 62%;
                    margin-bottom: 20px;
                }
}

@media (max-width: 730px) {
  

    .footer-left,
    .footer-center {
        width: 60%;
        margin-bottom: 20px;
    }
}

@media (max-width: 630px) {


    .footer-left,
    .footer-center {
        width: 58%;
        margin-bottom: 20px;
    }
}

@media (max-width: 530px) {


    .footer-left,
    .footer-center {
        width: 57%;
        margin-bottom: 20px;
    }
}

@media (max-width: 430px) {


    .footer-left,
    .footer-center {
        width: 54%;
        margin-bottom: 20px;
    }
}